{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/main_map.js')}}"></script>

{{end}}

<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<div id="mapid" >
    <script src="{{=URL('static', 'js/main_map.js')}}"></script>
</div>

<!-------------- Dynamic Navigation Bar --------------------->
<div class="main_content">
    <div id="vue-div" class="display:none">
     <nav class="vertical_menu navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header navbar-brand"> Public Service Announcement </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
             <p class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav">
                    {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
                 </ul>
            </p>
          <ul class="nav navbar-nav"><li class="web2py-menu-first"><a href="/lol/default/index">Home</a></li>
              <li v-if="'{{=auth.user_id}}' > 0" class="dropdown" data-w2pmenulevel="l0"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Create Event</a>
                  <ul class="dropdown-menu">
                      <li><a v-on:click="show()" class="menu_links">Urgent</a></li>
                      <li><a v-on:click="show()" class="menu_links">Event</a></li>
                      <li><a v-on:click="show()" class="menu_links">Closed</a></li>
                  </ul>
              </li>
              <li class="dropdown" data-w2pmenulevel="l0">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter</a>
                  <ul class="dropdown-menu">
                    <li><a v-on:click="show()" class="menu_links">Show only urgent</a></li>
                    <li><a v-on:click="show()" class="menu_links">Show only event</a></li>
                    <li><a v-on:click="show()" class="menu_links">Show only Closed</a></li>
              </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}">
</script>
