{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.min.js')}}"></script>
<script>


    var get_announcements_url = "{{=URL('api', 'get_announcements')}}";
    var add_announcement_url = "{{=URL('api', 'add_announcement', user_signature=True)}}";
    var get_users_announcements_url = "{{=URL('api', 'get_users_announcements')}}";
    var get_search_url = "{{=URL('api', 'get_search')}}";
    var delete_announcement_url = "{{=URL('api', 'delete_announcement')}}";
    var check_announcements_url = "{{=URL('api', 'check_announcements_date')}}"
    var edit_announcement_url = "{{=URL('api', 'edit_announcement', user_signature=True)}}";

</script>

{{end}}

<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="{{=URL('static', 'js/leaflet.awesome-markers.js')}}"></script>
<script src="{{=URL('static', 'js/ourmap.js')}}"></script>
<script src="{{=URL('static', 'js/announcement.js')}}"></script>
<script src="{{=URL('static',  'js/L.Control.Window.js')}}"></script>

<div onmouseover="mOver(this)" id="mapid"></div>

<script>
function mOver(obj) {
    obj.style.cursor = "crosshair"
}
</script>
<script src="{{=URL('static', 'js/ourmap.js')}}"></script>
<script src="{{=URL('static', 'js/leaflet.awesome-markers.js')}}"></script>

<div class="main_content">



<script src="{{=URL('static', 'js/ourmap.js')}}"></script>



    <div id="vue-div" class="display:none">

        <div id="mapid" >
            <script>
                //this re-sizes the window automattically. Just change the numbers after height and width.
                //If you want to reserve part of the screen for a menu, like the vertical menu we have on the left,
                //You have to change the padding in the css file.
                $(window).on("resize", function() {
                    $("#mapid").height($(window).height() * 1.00).width($(window).width() * 1.00 - 420);
                    //New_Map.map.invalidateSize();
                }).trigger("resize");


            </script>

            {{ include "default/modal.html" }}

        </div>

     <!-------------- Left Navigation Bar --------------------->
     <nav class="vertical_menu navbar navbar-default" role="navigation">
      <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-w2pmenulevel="l0">
                    <!-- search -->
                    <div class="search-input-wrapper" >
                        <button class="search_button" v-on:click="execute_search()">
                            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                        </button>
                        <input v-model="search_content" placeholder="Search">
                    </div>
                </li>

                <li class="dropdown navlist-item" data-w2pmenulevel="l0">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">View</a>
                  <ul class="dropdown-menu">
                    <li><a v-on:click="change_view('crown')" class="menu_links">Crown</a></li>
                    <li><a v-on:click="change_view('merrill')" class="menu_links">Merrill</a></li>
                    <li><a v-on:click="change_view('rachael_carson')" class="menu_links">Rachael Carson</a></li>
                    <li><a v-on:click="change_view('college_9')" class="menu_links">College 9</a></li>
                    <li><a v-on:click="change_view('college_10')"class="menu_links">College 10</a></li>
                    <li><a v-on:click="change_view('porter')"class="menu_links">Porter</a></li>
                    <li><a v-on:click="change_view('kresge')" class="menu_links">Kresge</a></li>
                    <li><a v-on:click="change_view('cowell')" class="menu_links">Cowell</a></li>
                    <li><a v-on:click="change_view('stevenson')" class="menu_links">Stevenson</a></li>
                    <li><a v-on:click="change_view('oakes')" class="menu_links">Oakes</a></li>
                  </ul>
                </li>

     <!--------------   Filter    --------------------->
                <li class="navlist-item">
                    <div class="filter-form-wrapper">
                    <button v-on:click="toggle_filter_show()" class="filter-dropdown-toggle">Filter</button>


                    <ul v-if="filter_form.show" class="filter-list" v-transition>

                        <li>
                            Category
                        <!-- radio buttons -->
                        <ul>
                            <li>
                                <input  type="radio" name="category" value="urgent" v-model="filter_form.category">
                                urgent
                            </li>
                            <li>
                                <input  type="radio" name="category" value="event" v-model="filter_form.category">
                                event
                            </li>
                            <li>
                              <input  type="radio" name="category" value="shutdown" v-model="filter_form.category">
                                shut down
                            </li>
                            <li>
                              <input  type="radio" name="category" value="all" v-model="filter_form.category">
                                all
                            </li>
                        </ul>
                        </li>
                        <li>
                            <button class="btn btn-warning btn-sm"
                                v-on:click="filter_submit_button()">
                                submit filter
                            </button>
                        </li>
                    </ul>
                    </div>
                </li>
            </ul>
        </div>
        </nav>


        <!---- Right Nav Bar  ----->
        <div v-if="!right_nav_options.hide_tools" >
        <div class="show-right-navbar navbar navbar-default "
             v-on:click="toggle_right_navbar_show()">
            <div class="navbar-show-toggle-icon"></div>
            <div class="navbar-show-toggle-icon">
                <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
            </div>
        </div>

        <nav class="right_menu navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-brand">
                Public Service Announcement
            </div>



                <div  class="collapse navbar-collapse navbar-ex1-collapse">
                     <p class="collapse navbar-collapse navbar-ex1-collapse">
                         <ul class="nav navbar-nav">
                            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
                         </ul>

                    </p>
                </div>

                <ul v-if="'{{=auth.user_id}}' > 0" class="logged-in-left-user-tools">

                    <!-- edit announcement stuff -->
                    <li class="navlist-item" v-if="edditing_announcemnt">

                        Title <input v-model="announcement_form.name" class="announcement-input-text"> <br>
                        Description: <br>

                        <textarea v-model="announcement_form.description" class="announcement-input-text">
                        </textarea>

                        <button class="btn btn-sm edit-submit-btn"
                                v-on:click="announcement_edit_submit_button()">
                                done
                        </button>

                        <button class="btn btn-sm edit-submit-btn"
                            v-on:click="announcement_edit_cancel_button()">
                            cancel
                        </button>
                    </li>

                    <li class="navlist-item">
                        <!-- create announcement buttons -->
                        <div class="button-bar-create-announcement">
                            <button v-if="!map_clickable" class="btn btn-danger btn-sm"
                                    v-on:click="create_announcement_button()" >
                                    <!-- v-bind:class="{'disabled': !logged_in}"-->
                                Create Announcement
                            </button>

                        </div>



                        <button v-if="map_clickable" class="btn btn-warning btn-sm"
                                v-on:click="cancel_announcement_button()">
                            Cancel
                        </button>


                        <!-- create announcement Form -->
                        <div class="create-announcement-wrapper" v-if="map_clickable" >
                            <form id="create_announcement_form"
                                  action="#"
                                v-on:submit.prevent="add_announcement"
                                enctype="multipart/form-data"
                                 method="post">
                                <!-- text -->

                                <!-- radio buttons -->
                                <ul>
                                    <li>
                                        <input v-on:click="update_marker('urgent')" type="radio" name="category" value="Urgent" v-model="announcement_form.category">
                                        urgent
                                    </li>
                                    <li>
                                        <input v-on:click="update_marker('event')" type="radio" name="category" value="Event" v-model="announcement_form.category">
                                        event
                                    </li>
                                    <li>
                                    <input v-on:click="update_marker('shutdown')" type="radio" name="category" value="Shut Down" v-model="announcement_form.category">
                                        shut down
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>

                    <li class="navlist-item">
                        <div class="history_button">
                            <button  class="btn btn-danger btn-sm" v-on:click="toggle_history_show()">
                                Show my history
                            </button>
                        </div>

                        <!-- Div for the history of annoucements-->
                        <ul v-if="right_nav_options.show_history" id="history" class="my-history-wrapper">
                            <li class="history-list-item" v-for="ann in users_announcements">
                                    Title:  <br> ${ann.name} <br>
                                    Description:  <br>
                                    ${ann.description}  <br>
                                    Category: ${ann.category}   <br>
                                    <i class="fa fa-trash-o"></i>
                                    <i class="fa fa-pencil"></i> <br>
                            </li>
                        </ul>
                    </li>

            </ul><!-- end left side nav list -->



        </div>
        </nav></div>

        <div v-else class="hide-right-navbar">
            <div class="hide-right-navbar navbar navbar-default "
                v-on:click="toggle_right_navbar_show()">
                <div class="navbar-show-toggle-icon"></div>
                <div class="navbar-show-toggle-icon">
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div> <!-- end vue-div -->

            <!-- here is the campus map     -->
</div> <!-- end main-content -->


<script src="{{=URL('static', 'js/default_index.js')}}">
</script>
