{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>

</script>
{{end}}

<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="css/leaflet.awesome-markers.css">
<div id="mapid" ></div>

<script src="{{=URL('static', 'js/ourmap.js')}}"></script>
<!-- <script src="js/leaflet.awesome-markers.js"></script>--->
<script src="{{=URL('static', 'js/leaflet.awesome-markers.js')}}"></script>




<!-------------- Dynamic Navigation Bar --------------------->
<div class="main_content">
    <div id="vue-div" class="display:none">
     <nav class="vertical_menu navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header navbar-brand"> Public Service Announcement </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
             <p class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav">
                    {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
                 </ul>
            </p>

            <!--     Navbar Starts Here                       -->
            <ul class="nav navbar-nav">
               <!--- <li class="web2py-menu-first"><a href="/project/default/index">Home</a></li> --->
              <li v-if="'{{=auth.user_id}}' > 0" class="web2py-menu-first"><a href="/project/default/index">My Announcements</a></li>
              <li v-if="'{{=auth.user_id}}' > 0" class="dropdown" data-w2pmenulevel="l0"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Create Event</a>
                  <ul class="dropdown-menu">
                      <li><a v-on:click="set_announcement('urgent')" id = "urgent" class="menu_links">Urgent</a></li>
                      <li><a v-on:click="set_announcement('event')" id = "event" class="menu_links">Event</a></li>
                      <li><a v-on:click="set_announcement('shut_down')" id = "shut_down" class="menu_links">Shut Down</a></li>
                  </ul>
              </li>

              <li class="dropdown" data-w2pmenulevel="l0">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter</a>
                  <ul class="dropdown-menu">
                    <li><a v-on:click="show()" class="menu_links">Show only Urgent</a></li>
                    <li><a v-on:click="show()" class="menu_links">Show only Event</a></li>
                    <li><a v-on:click="show()" class="menu_links">Show only Shut Down</a></li>
                  </ul>
              </li>
              <li class="dropdown" data-w2pmenulevel="l0">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">View</a>
                  <ul class="dropdown-menu">
                    <li><a v-on:click="change_view('crown')" class="menu_links">Crown</a></li>
                    <li><a v-on:click="change_view('merrill')" class="menu_links">Merrill</a></li>
                    <li><a v-on:click="change_view('rachael_carson')" class="menu_links">Rachael Carson</a></li>
                    <li><a v-on:click="change_view('college_9')" class="menu_links">College 9</a></li>
                    <li><a v-on:click="change_view('college_10')"class="menu_links">College 10</a></li>
                    <li><a v-on:click="change_view('porter')"class="menu_links">Porter</a></li>
                    <li><a v-on:click="change_view('kresge')" class="menu_links">Kresge</a></li>
                    <li><a v-on:click="change_view('cowell')" class="menu_links">Cowell</a></li>
                    <li><a v-on:click="change_view('stevenson')" class="menu_links">Stevenson</a></li>
                    <li><a v-on:click="change_view('oakes')" class="menu_links">Oakes</a></li>
                  </ul>
              </li>
          </ul>
            <!--     Navbar Ends Here                       -->

        </div>
      </div>
    </nav>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}">
</script>
