<div id="AnnouncementModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="announcementDetailTitle" class="modal-title">New Announcement</h4>
            </div>
            <div id="AnnouncementBody" class="modal-body">

                <!--
                    put description, author etc here i guess.
                -->
                <strong>Desc: </strong><span id="announcementDetailDescription"></span>
                <br>
                <strong>Author: </strong><span id="announcementDetailAuthor"></span>
                <br>
                <strong>Created On: </strong><span id="announcementDetailCreatedon"></span>
                <br>
                <strong>Category: </strong><span id="announcementDetailCategory"></span>
                <br>
                <strong>Score: </strong><span id="announcementDetailScore"></span>
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="announcement_cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="announcement_submit">Submit</button>
            </div>
        </div>
    </div>
</div>