/*Layout of map displayed on screen */
body{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
/* line 23, ../sass/_main.scss */
.main_content {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
/* line 25, ../sass/_main.scss */
.main_content .vertical_menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
}
/* line 37, ../sass/_main.scss */
.main_content .container-fluid .navbar-list {
  display: table-row;
  padding: 0;
}
/* line 42, ../sass/_main.scss */
.main_content .container-fluid .navbar-list .navlist-item {
  list-style-type: none;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
  margin: 10px 0 10px 0;
  width: 185px;
}
/* line 56, ../sass/_main.scss */
.main_content .container-fluid .navbar-list .filter-form-wrapper .filter-list {
  list-style-type: none;
  color: #4f80d2;
  height: 50%;
  width: 200px;
}
.navlist-item{
    color: white;
}
/* line 36, ../sass/_main.scss */
.main_content .right_menu {
  /*position: fixed;*/
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
}
/* line 46, ../sass/_main.scss */
.main_content .history {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 200px;
  /*border-color: #00c4ff;*/
  border-style: solid;
  border-width: 5px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  overflow-y: scroll;
}
/* line 57, ../sass/_main.scss */
.main_content .history .ann {
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}
/* line 64, ../sass/_main.scss */
.main_content .history .ann:hover {
  background-color: #A2A2A2;
}

/* line 70, ../sass/_main.scss */
.create-announcement-wrapper {
  color: #aaa;
}

/* position of log in menu*/
/* line 75, ../sass/_main.scss */
.main-container {
  position: static;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px; /*changing this does nothing*/
    padding-left: 185px;

}

/* line 87, ../sass/_main.scss */
a.menu_links {
  padding-right: 5px;
  cursor: pointer;
}

input.search_bar{
	width: 130px;
    /* box-sizing: border-box; */
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: gray;
	margin-left: 8px;
	vertical-align: top;
	display: inline-block;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 130px;
}

input.search_button{
	width: 20px;
	vertical-align: top;
	margin-right: 0px;
	display: inline-block;
	color: yellow;
}
.form-group {
    margin-bottom: 15px;
	width: 200px;
}